@import "/styles/_mixins.scss";

//// < zIndex > ////
.offerings {
  .offeringTextContent {
    z-index: 1;
  }

  .label {
    z-index: 0;
  }
}

.offerings {
  @include homeSection;
  overflow: visible;
}

.label {
  @include sectionLabel;
}

.offeringTextContent {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: var(--space-11xl);
  transform: translateY(-75%);
  width: calc(2 * var(--column-width));
  .title {
    @include headerText;
  }

  .blurb {
    @include paragraphText;
    font-size: var(--text-prose-em);
    width: calc(1.5 * var(--column-width));
    span {
      margin-right: .5rem;
    }
    span i {
      display: none;
    }
  }
}

.sliderContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100vh;
  width: 100vw;
}

.slider {
  position: absolute;
  left: 0vw;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.block {
  cursor: pointer;
  position: relative;
  isolation: isolate;
  box-sizing: border-box;
  &:hover {
    opacity: 1;
    .blockTitle {
      color: var(--primary);
      transform: scale(1.1);
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
  .blockTitle {
    z-index: 2;
    position: absolute;
    height: auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    bottom: -2.5vh;
    right: -2.5vh;
    font-family: var(--font-title);
    font-size: var(--text-subheader);
    font-size: var(--text-4xl);
    font-weight: var(--reg);
    letter-spacing: var(--push-sm);
    color: var(--text-color);
    transition: all 1s;
    mix-blend-mode: plus-lighter;
  }
  .blockBtn {
    display: none;
    position: absolute;
    bottom: -12vh;
    right: 0;
    &:hover {
      path {
        fill: var(--primary);
      }
      circle {
        stroke: var(--primary);
      }
    }
    span {
      color: var(--text-color);
      font-weight: normal;
    }
    path {
      fill: var(--text-color);
    }
    circle {
      stroke: var(--text-color);
    }
  }
}

.blockPos {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  opacity: 0.6;
  &.hide {
    opacity: 0;
  }
  &.zero {
    // ^ OFF
    width: 17vw;
    transform: translate(-25vw, 15vh);
    transition: all 0s !important;
  }
  &.one {
    width: 17vw;
    transform: translate(-2vw, 18vh);
    transition: all 0.8s;
  }
  &.two {
    width: 14vw;
    transform: translate(27vw, 60vh);
    transition: all 0.8s;
  }
  &.three {
    // ^ MAIN
    z-index: 3;
    opacity: 1;
    width: 25vw;
    aspect-ratio: 3 / 4;
    width: var(--column-width);
    aspect-ratio: 1 / 1.35;
    transform: translate(63vw, 10vh);
    transition: all 0.8s;
    img {
      transition: all 0.8s;
    }
    &:hover {
      img {
        filter: saturate(120%);
      }
    }
    .blockTitle {
      z-index: 2;
      position: absolute;
      transform: translate(-25%, -30%);
      font-size: var(--text-9xl);
      font-weight: var(--reg);
      color: var(--text-color-inv);
      &:hover {
        color: hsl(var(--primary-hs), 50%);
      }
    }
    .blockBtn {
      display: flex;
    }
  }
  &.four {
    // pointer-events: none;
    width: 17vw;
    // opacity: 0;
    transform: translate(97vw, 15vh);
    transition: all 0.8s;
  }
  &.five {
    // ^ OFF
    width: 17vw;
    transform: translate(107vw, 15vh);
    transition: all 0s !important;
    transition: all 0.8s;
  }
  img {
    filter: saturate(75%);
    transition: all .8s;
    &:hover {
      filter: saturate(120%);
    }
  }
}
