.container {
  position: relative;
  width: 100%;
  height: auto;
  // margin: var(--intracontent-margin-lg) 0;
  font-family: var(--font-italic);
  color: var(--primary-deep);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  @media (max-width: 592px) {
    margin-top: 4rem;
  }
}
.quoteMark {
  position: absolute;
  top: -10%;
  left: -5%;
}
.attr {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color-med);
  span:nth-child(2) {
    margin: 0 1ch;
    @media (max-width: 592px) {
      display: none;
    }
  }
  @media (max-width: 592px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.author {
  margin-left: 1ch;
  font-family: var(--font-bold);
}
.source {
  font-family: var(--font-italic);
}
