@import "/styles/_mixins.scss";

.container {
  position: relative;
  width: 100%;
  
}
.sectionAccent {
  font-family: var(--font-thin);
  position: absolute;
  top: -150%;
  left: -50vw;
  top: 0;
  left: 0;
  width: 200vw;
  translate: -50% -40%;
  font-size: 152px;
}
.title {
  // @include headerText;
  // margin: 0 !important;
  // margin-bottom: var(--space-lg);
  &.left {
    text-align: left;
  }
  // @media (max-width: 1024px) {
  //   font-size: 48px !important;
  // }
  // @media (max-width: 592px) {
  //   font-size: 40px !important;
  // }
}

.label {
  pointer-events: none;
  font-size: var(--text-10xl);
  font-size: 152px;
  text-transform: uppercase;
  letter-spacing: var(--push-lg);
  div:global(.marquee) {
    color: var(--label-color) !important;
  }
}