.labelStyle {
  pointer-events: none;
  font-size: var(--text-10xl);
  font-size: 152px;
  text-transform: uppercase;
  letter-spacing: var(--push-lg);
  div:global(.marquee) {
    color: var(--label-color) !important;
  }
}