@import "/styles/mixins";

.testimonial {
  @include homeSection;
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: visible;
  @media (max-width: 1024px) {
    justify-content: center;
    margin-bottom: 0;
  }
}

.sectionAccent {
  position: absolute;
  top: 0;
  left: -120%;
  svg {
    height: 80vh;
    width: 80vh;
    opacity: 0.5;
  }
  path {
    stroke-width: 0.5px;
  }
}

.header {
  position: relative;
  width: calc(1.5 * var(--column-width));
  margin-bottom: var(--intracontent-margin);
  .title {
    @include headerText;
  }
  .label {
    @include sectionLabel(50%);
    translate: 0 -50%;
    @media (max-width: 1024px) {
      display: none;
    }
  }
}
.testimonialSliderBase {
  --slider-content-height: 70vh;
  margin: var(--intracontent-margin-lg) 0;
  margin-top: 0;
  position: relative;
  overflow: visible;
  width: 100vw;
  height: calc(1.25 * var(--slider-content-height));
  transform: translateX(var(--content-shift-neg));
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  @media (max-width: 1024px) {
    height: 80vh;
    width: 100%;
    transform: unset;
    padding: var(--space-5xl) 0;
    height: auto;
    align-items: center;
    justify-content: center;
  }
}

.testimonialSlider {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 0;
  width: 105vw;
  height: var(--slider-content-height);
  margin: 0 !important;
  overflow: visible;
  overflow-x: scroll;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  @media (max-width: 1024px) {
    position: relative;
    top: unset;
    left: unset;
    translate: 0 0;
    position: relative;
    translate: unset;
    top: unset;
    left: unset;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.testimonialList {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  padding-right: 35vw;
  padding-left: var(--content-shift);
  @media (max-width: 1024px) {
    padding: 0 !important;
    width: 80%;
    width: 100%;
    height: auto;
    gap: 3rem 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
  }
  @media (max-width: 592px) {
    grid-template-columns: 1fr;
  }
}

.quoteContainer {
  position: relative;
  width: min-content;
  min-width: 25vw;
  overflow: hidden;
  margin-right: calc(1.5 * var(--intracontent-margin));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 3rem;

  border-radius: var(--radius-md);
  border: 1px solid transparent;
  &:hover {
    border: 1px solid var(--primary-tr-2);
  }

  b {
    font-size: var(--text-2xl) !important;
  }
  &:hover {
    .attrImg {
      opacity: 0.65;
    }
  }
  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    height: auto;
    margin-right: 0;
    padding: 0;
    align-items: center;
    &:hover {
      border: 1px solid transparent;
    }
  }
  @media (max-width: 592px) {
    margin-right: 0;
    &:not(:last-child) {
      margin-bottom: var(--space-3xl);
    }
  }
}

.videoContainer {
  width: 70%;
  width: 100%;
  width: 20vw;
  margin-bottom: var(--space-2xl);
  margin-top: -0.5rem;
  b {
    display: block;
    margin-bottom: var(--intracontent-margin);
    font-size: var(--text-2xl);
    font-weight: var(--reg);
    color: var(--primary);
  }
  @media (max-width: 1024px) {
    width: 100%;
    margin-bottom: 0;
  }
  @media (max-width: 592px) {
    width: 100%;
  }
}
.videoWrap {
  position: relative;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  @media (max-width: 1024px) {
    // height: 30vh;
    width: 100%;
    height: auto;
    video {
      aspect-ratio: 1 / 1;
    }
  }
}
.videoShade {
  @include shade;
  cursor: pointer;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  transition: var(--transition-primary);
  path {
    transition: var(--transition-primary);
    fill: var(--white);
  }
  &.hideShade {
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    background-color: transparent;
    path {
      fill: var(--primary);
    }
  }
}
.expandVideoBtn {
  z-index: 2;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  color: white;
  font-size: 2rem;
  &:hover {
    color: var(--primary);
  }
}

.modalShade {
  @include shade;
  background: var(--black-fade-80);
  height: 100vh;
  width: 100vw;
  isolation: isolate;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  position: relative;
  height: 70vh;
  width: 50vw;
  height: min-content;

  background-color: var(--primary-darker-tr-1);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid var(--primary-light);
  video {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  @media (max-width: 592px) {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    border: none;
  }
}
.modalText {
  height: min-content;
  padding: 4rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-2xl);

  p {
    @include paragraphText;
    height: auto;

    display: flex;
    flex-direction: column;
    color: var(--white);
    b {
      margin-bottom: 2rem;
      font-size: var(--text-4xl);
      font-family: var(--font-thin);
      color: var(--primary);
      color: var(--primary-light);
      @media (max-width: 592px) {
        font-size: var(--text-lg);
      }
    }
    span {
      font-size: var(--text-md);
    }
  }
  .modalAttr {
    padding-top: 3rem;
    font-size: var(--text-2xl);
    color: var(--primary);
    color: var(--primary-light);
    @media (max-width: 592px) {
      font-size: var(--text-md);
      padding: 0;
      // transform: translateY(100px) !important;
    }
  }
  @media (max-width: 592px) {
    width: 90%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--space-2xl);
  }
}

.close {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  transition: var(--transition-primary);
  @media (max-width: 592px) {
    transform-origin: center;
    scale: 0.5;
  }
}

.closeModalBtn {
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: 15%;
  font-size: 3rem;
  color: var(--primary);
  transform-origin: center;
  transition: var(--transition-primary);
  &:hover {
    rotate: 180deg;
    color: var(--primary);
  }
  @media (max-width: 592px) {
    font-size: 4rem;
    top: 2.5%;
    right: 7.5%;
    z-index: var(--level-top);
  }
}

.quote {
  @include paragraphText;
  cursor: pointer;
  line-height: 200%;
  margin: 0;
  margin-bottom: var(--space-2xl);
  width: 80%;
  // display: -webkit-box;
  // -webkit-line-clamp: 7;
  // -webkit-box-orient: vertical;
  b {
    display: block;
    margin-bottom: var(--intracontent-margin);
    font-size: var(--text-header-sm);
    font-weight: var(--reg);
    color: var(--primary);
  }
  span {
    letter-spacing: var(--push-sm);
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    @media (max-width: 1436px) {
      -webkit-line-clamp: 5;
    }
  }
  @media (max-width: 1024px) {
    width: 100%;
    margin-bottom: 0;
  }
  @media (max-width: 592px) {
    width: 100%;
    margin-bottom: 0;
  }
}
.quoteMark {
  position: absolute;
  top: -5%;
  top: 0;
  left: -5%;
  left: 0;
  svg {
    scale: 0.5 !important;
  }
  @media (max-width: 1024px) {
    top: 0%;
    left: 5%;
    top: 5%;
    left: 25%;
    width: 100%;
    height: auto;
    path {
      opacity: 0.1;
      fill: var(--primary-tr-1);
    }
  }
}
.attr {
  letter-spacing: var(--push-lg);
  // background-color: var(--primary-tr-2);
  border-radius: var(--radius-rounded);
  padding-right: var(--space-2xl);
  font-weight: var(--light);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  span {
    margin-left: var(--space-lg);
    font-family: var(--font-title);
    font-weight: 600;
    font-size: var(--text-lg);
    letter-spacing: normal;
    color: var(--primary);
  }
  @media (max-width: 1024px) {
    padding: 15px 25px !important;
    border-radius: 0;
    border-left: 2px solid var(--primary-tr-1);
    align-self: flex-start;
    margin-bottom: var(--intracontent-margin-lg);
    span {
      margin-left: 0;
    }
  }
  @media (max-width: 592px) {
    margin: 0;
  }
}

.attrInitial {
  display: flex;

  // remove if testimonial pics
  display: none;

  height: var(--space-7xl);
  width: var(--space-7xl);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--primary-light);
  border-radius: var(--radius-rounded);
  border: 2px solid var(--primary);
  color: var(--primary-deep);
  font-size: 2rem;
  font-weight: bold;

  @media (max-width: 1024px) {
    height: var(--space-5xl);
    width: var(--space-5xl);
    display: flex;
  }
}

.scrollTip {
  @include smallLabelText;
  color: var(--primary);
  letter-spacing: var(--push-lg);
  position: absolute;
  bottom: 10%;
  left: var(--content-shift);
  // bottom: 2rem;
  @media (max-width: 1436px) {
    bottom: -5%;
  }
  @media (max-width: 1024px) {
    display: none;
    bottom: var(--intracontent-margin-lg);
    right: var(--intracontent-margin-lg);
  }
}

.fadeTransitionBlock {
  pointer-events: none;
  position: absolute;
  right: calc(-1 * var(--content-shift));
  right: var(--content-shift-neg);
  width: 60vw;
  height: 100%;
  opacity: 0.8;
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--primary-bg) 40%
  );
  @media (max-width: 1024px) {
    display: none;
  }
}
