@import "/styles/mixins";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.imageWrap {
  position: relative;
  height: 30vh;
  width: 100%;
  img {
    @include absoluteImage;
  }
}
.textWrap {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.heading {
  font-size: var(--text-xl);
  @media (max-width: 1024px) {
    font-size: var(--text-lg);
  }
}
.subheading {
  font-size: var(--text-lg);
  font-weight: 200;
  @media (max-width: 1024px) {
    font-size: var(--text-md);
    line-clamp: 3;
    -webkit-line-clamp: 3;
  }
}
.meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .5ch;
}
.button {
  flex-grow: 0;
  width: min-content;
  color: var(--primary);
  border-color: var(--primary);
}
