@import "/styles/mixins";

//// < zIndex > ////
.pillars {
  // z-index: ;
  .fadeTransitionBar {
    z-index: 5;
  }
  .shade {
    z-index: 4;
  }
  &::after {
    z-index: 3;
  }
  .pillarsTextContent {
    z-index: 3;
  }
  .fg,
  .bg {
    z-index: 2;
  }
}

.pillars {
  @include homeSection($full: true);
  align-items: flex-start;
  height: calc(100vh + var(--os-vp-vh));
  @media (max-width: 1024px) {
    height: auto;
    padding-top: var(--vp-lg);
    padding-bottom: var(--vp-2xl);
  }
}

.pillarsImageContainer {
  @include fullBleedContent;
  isolation: isolate;
  background-color: rgba(173, 216, 230, 0.215);
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: saturate(20%);
  }
  .shade {
    @include gradientShade;
  }
  &::before,
  &::after {
    content: "";
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--white-fade-35);
    transition: var(--transition-1-smooth);
  }
  &::before {
    background-color: var(--black-fade-20);
  }
  .fg {
    z-index: 2;
  }
  .bg {
    z-index: 1;
  }
  &.darken {
    & > * {
      transition-delay: .5s;
      transition: var(--transition-2-smooth);
    }
    &::before {
      background-color: var(--black-fade-80);
    }
    &::after {
      // background-color: transparent;
    }
    .shade {
      background: rgba(19, 35, 41, 0.2);
    }
  }
}

.fadeTransitionBar {
  &.top {
    @include fadeTransitionBar($height: 9vh, $top: true);
  }
  &.bot {
    @include fadeTransitionBar($height: 9vh);
  }
}

.pillarsTextContent {
  margin-top: calc(var(--browser-bar) + var(--space-4xl));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--white);
  @media (max-width: 1024px) {
    margin-top: var(--vp-xl);
    width: 100%;
  }
}

.blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: var(--vp-md);
  margin-bottom: var(--space-4xl);
  .title {
    @include headerText(var(--white));
    margin-bottom: var(--space-lg);
    @media (max-width: 1024px) {
      width: 120%;
      text-align: center;
    }
  }
  .subtitle {
    @include subheaderText;
    margin-bottom: var(--space-lg);
    br {
      display: none;
    }
    @media (max-width: 1024px) {
      margin-top: var(--space-md);
      margin-bottom: var(--space-3xl);
      text-align: center;
      width: 120%;
      br {
        display: initial;
      }
    }
  }
  .text {
    @include paragraphText;
    width: calc(1.5 * var(--column-width));
    height: 19vh;
    position: relative;
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    .genText,
    .specText {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }
    .specText {
      font-weight: var(--body);
    }
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .sectionAccent {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg {
      height: 60vw;
      width: 60vw;
    }
    path {
      stroke: var(--accent-tr);
    }
    @media (max-width: 1024px) {
      display: initial;
    }
  }
  @media (max-width: 1024px) {
    margin: 0;
  }
}

.pillarsContainer {
  width: 100%;
  display: grid;
  // gap: 0 24px;
  // grid-template-columns: repeat(3, var(--column-width));
  grid-template-columns: repeat(4, calc(32px + var(--column-width-narrow)));
  align-items: center;
  justify-content: center;
  @media (max-width: 1024px) {
    // grid-template-columns: repeat(3, 100vw);
    grid-template-columns: repeat(4, 100vw);
    width: 100vw;
    overflow: scroll;
    flex-shrink: 0;
    justify-content: flex-start;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.pillar {
  cursor: pointer;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: var(--transition-primary);
  &:hover {
    transform: translateY(-2vh);
    .title {
      transform: scale(1.05);
    }
    .icon {
      path {
        fill: var(--accent);
      }
    }
    .btn {
      opacity: 1;
    }
  }
  .title {
    font-family: var(--font-title);
    // font-size: var(--text-4xl);
    font-size: var(--text-2xl);
    font-weight: var(--light);
    white-space: wrap;
    text-align: center;
    transition: var(--transition-primary);
  }
  .icon {
    height: 110px;
    width: 110px;
    margin: var(--space-xl) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1024px) {
      height: 88px;
      width: 88px;
      margin: var(--intracontent-margin-xl) 0;
    }
  }
  .btn {
    margin-top: var(--space-3xl);
    opacity: 0;
    transition: var(--transition-primary);
    transition-delay: 0.2s;
    @media (max-width: 1024px) {
      opacity: 1;
    }
  }
  &.fadePillar {
    opacity: 0.5;
    .title {
      transform: scale(.95);
    }
  }
  .mText {
    display: none;
    @media (max-width: 1024px) {
      @include paragraphText;
      display: initial;
      width: 62.5vw;
      text-align: center;
    }
  }
  @media (max-width: 1024px) {
    flex-shrink: 0;
    width: 100vw;
  }
}

.dots {
  display: none;
  @media (max-width: 1024px) {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 5vw;
    color: var(--papaya);
    span {
      opacity: 0.5;
    }
    &.activeDot {
      opacity: 1;
    }
  }
}
