@import '/styles/mixins';

//// < zIndex > ////
.hero {
  isolation: isolate;

  .heroTextContent {
    z-index: 3;
  }
  .fadeTransitionBar {
    z-index: 3;
  }
  .shade {
    z-index: 2;
  }
  .logoContainer {
    z-index: 2;
  }
}

.hero {
  @include homeSection($full: true);
}

.heroBg {
  @include fullBleedContent;
}

.fadeTransitionBar {
  // @include fadeTransitionBar(10vh, -1vh);
}

.shade {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: var(--black-fade-50);
}

.heroTextContent {
  height: auto;
  width: 100%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.title {
  @include headerText;
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span:first-child {
    font-size: var(--text-header-xl);
    color: var(--accent);
  }
}

.blurb {
  width: 45%;
  margin: 2.5vh;
  margin-bottom: var(--intracontent-margin-lg);
  font-size: var(--text-prose-em);
  letter-spacing: var(--push-ms);
  font-weight: var(--reg);
  text-align: center;
  color: var(--white);
  @media (max-width: 1024px) {
    width: 100%;
    margin: 2.5vh;
  }
}
