//// < zIndex > ////
.pillars {
  // z-index: ;
  .fadeTransitionBar {
    z-index: 4;
  }
  .pillarsTextContent {
    z-index: 3;
  }
}

.pillars {
  position: relative;
  height: 125vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  border: 1px solid grey;
  margin-bottom: 5vh;
}

.pillarsImageContainer {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 50%;
  left: -10vw;
  transform: translateY(-50%);
  isolation: isolate;
  background-color: rgba(173, 216, 230, 0.215);
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &::after, 
  &::before {
    content: '';
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--black-fade-50);
  }
  &::after {
    background-color: var(--white-fade-35);
  }
  .fg {
    z-index: 2;
  }
  .bg {
    z-index: 1;
  }
}

.fadeTransitionBar {
  position: absolute;
  width: 100%;
  background-image: url('/noise-bg--40.png'), linear-gradient(to bottom, transparent 0%, var(--primary-bg) 60%);
  height: 12vh;
  &.top {
    top: -1vh;
    background-image: url('/noise-bg--40.png'), linear-gradient(to top, transparent 0%, var(--primary-bg) 60%);
  }
  &.bot {
    bottom: -1vh;
  }
}

.pillarsTextContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: var(--white);
}

.blurb {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: var(--vp-md);
  .title {
    font-family: var(--font-title);
    font-size: var(--text-header);
    font-weight: var(--light);
  }
  .subtitle {
    font-family: var(--font-title);
    font-size: var(--text-subheader);
    font-weight: var(--light);
    font-weight: var(--light);
    margin: var(--vp-ms) 0;
  }
  .text {
    text-align: center;
    font-size: var(--text-prose-em);
    font-weight: var(--reg);
  }
}

.pillarsContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pillar {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: var(--transition-primary);
  &:hover {
    transform: translateY(-2vh);
    .icon {
      path {
        fill: var(--primary);
      }
    }
    .btn {
      opacity: 1;
    }
  }
  .title {
    font-family: var(--font-title);
    font-size: var(--text-4xl);
    font-weight: var(--light);
    white-space: wrap;
    text-align: center;
  }
  .icon {
    height: 110px;
    width: 110px;
    margin: var(--space-xl) 0;
  }
  .btn {
    margin-top: var(--space-3xl);
    opacity: 0;
    transition: var(--transition-primary);
    transition-delay: .2s;
  }
}
