@import "/styles/_mixins.scss";

.container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.intro {
  width: 75%;
  display: flex;
  gap: .5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header {
  font-family: var(--font-reg);
  font-size: var(--text-header-xs);
  color: var(--primary-deep);
}
.content {
  font-size: var(--text-prose-em);
  line-height: 150%;
}
.grid {
  width: 100%;
  display: grid;
  gap: 3rem;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 592px) {
    grid-template-columns: 1fr;
  }
}
.card {
  position: relative;
  isolation: isolate;
  height: 100%;
  width: 100%;
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  span {
    z-index: 3;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-semibold);
    font-size: var(--text-prose);
    color: var(--white);
  }
  span:nth-child(2) {
    display: none;
  }
  .shade {
    @include shade;
    z-index: 2;
    opacity: 0.7;
  }
  img {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
  }
}
