//// < zIndex > ////

.layout {
  isolation: isolate;
  
  article {
    z-index: 99;
  }
  nav {
    z-index: 5;
  }
  menu {
    z-index: 4;
  }
  .content {
    z-index: 3;
  }
  footer {
    z-index: 2;
  }
}

.layout {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--primary-bg);
  overflow-x: hidden;
  &::after {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    content: "";
    background-image: url("/noise-bg.png");
    opacity: 0;
    filter: brightness(150%);
  }
  @media (max-width: 1024px) {
    overflow-x: hidden;
  }
}

.content {
  height: auto;
  width: var(--content-width);
  display: flex;
  gap: var(--intersection-margin);
  // padding-bottom: var(--intersection-margin);
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  @media (max-width: 1424px) {
    width: 80%;
    gap: calc(.5 * var(--intersection-margin));
  }
}

.modal {
  z-index: var(--level-top);
  isolation: isolate;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(4px);
  background: var(--primary-darker-tr-1);

  color: var(--white);

  .close {
    z-index: 10;
    cursor: pointer;
    position: absolute;
    top: 5%;  
    right: 5%;
    transition: var(--transition-primary);
    @media (max-width: 592px) {
      transform-origin: center;
      scale: .5;
    }
  }

  * {
    z-index: 1;
  }
}