//// < zIndex > ////

.layout {
  isolation: isolate;
  
  article {
    z-index: 99;
  }
  nav {
    z-index: 5;
  }
  menu {
    z-index: 4;
  }
  .content {
    z-index: 3;
  }
  footer {
    z-index: 2;
  }
}

.layout {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--primary-bg);
  &::after {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    content: "";
    background-image: url("/noise-bg.png");
    opacity: 0;
    filter: brightness(150%);
  }
  @media (max-width: 1024px) {
    overflow-x: hidden;
  }
}

.content {
  height: auto;
  width: var(--content-width);
  display: flex;
  gap: var(--intersection-margin);
  padding-bottom: var(--intersection-margin);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @media (max-width: 1424px) {
    width: 80%;
    gap: calc(.5 * var(--intersection-margin));
  }
}
