.logoWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: var(--transition-primary);
  svg {
    width: 58px;
    flex-shrink: 0;
    margin-right: 0.5rem;
    path {
      transition: var(--transition-primary);
    }
  }
  &:hover {
    color: var(--primary);
    mix-blend-mode: difference;
    background-blend-mode: difference;
    svg path {
      fill: var(--primary);
    }
  }
  @media (max-width: 1024px) {
    svg {
      scale: 0.8;
    }
  }
}

.logoTextWrap {
  br {
    display: none;
  }
  @media (max-width: 1024px) {
    font-size: var(--text-md);
    br {
      display: block;
    }
  }
}

.logoText {
  font-family: var(--font-reg);
  text-transform: uppercase;
  color: var(--off-white);
  font-size: var(--text-lg);
  margin-right: 0.25rem;
  @media (max-width: 1024px) {
    font-size: var(--text-md);
  }
}

.thin {
  font-family: var(--font-thin);
}
