//// < zIndex > ////

.layout {

  nav {
    z-index: 5;
  }
  menu {
    z-index: 4;
  }
  .content {
    z-index: 3;
  }
  footer {
    z-index: 2;
  }

}



.layout {
  position: relative;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--primary-bg);
  isolation: isolate;
  &::after {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    content: "";
    background-image: url("/noise-bg.png");
    opacity: 0;
    filter: brightness(150%);
  }
}

.content {
  height: auto;
  width: 80vw;
  width: var(--content-width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}



