.container {
  --container-height: 65vh;

  position: relative;
  height: auto;
  width: 100%;
  margin-top: var(--nav-height);

  gap: 150px 0 !important;
}

.wrapper {
  position: relative;
  height: var(--container-height);
  width: 100%;
}

.hero {
  isolation: isolate;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.heroImg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.heroText {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .preTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5ch;
    font-size: var(--text-6xl);
    color: var(--primary-light);
    @media (max-width: 1024px) {
      font-size: var(--text-3xl);
    }
    @media (max-width: 592px) {
      flex-direction: column;
      gap: 0;
      font-size: var(--text-xl);
      word-break: break-word;
    }
  }
  .title {
    font-size: var(--text-8xl);
    color: var(--white);
    @media (max-width: 1024px) {
      font-size: var(--text-6xl);
    }
    @media (max-width: 592px) {
      font-size: var(--text-4xl);
    }
  }
}

.layout {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 150px 0;
}
.feature {
  height: 60vh;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;

  li {
    height: 60vh;
  }
}

.button {
  width: min-content;
  padding-left: 4rem;
  padding-right: 4rem;
  color: var(--primary);
  border: none;
  margin-top: 5ch;
  background: var(--primary-tr-2);
}
