@import "/styles/mixins";

.offerings {
  isolation: isolate;
  .slider {
    z-index: 1;
  }
  .header {
    z-index: 2;
  }
}

.offerings {
  @include homeSection;
  height: auto;
  min-height: 125vh;
  margin-top: 20vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sectionAccent {
  position: absolute;
  svg {
    height: 80vh;
    width: 80vh;
  }
  path {
    stroke-width: .5px !important;

  }
}

.header {
  @include headerText;
  margin-bottom: var(--intracontent-margin-lg);
  font-size: var(--text-header);
  font-weight: var(--reg);
  justify-self: flex-start;
}

.slider {
  position: absolute;
  top: 17.5vh;
  left: var(--content-shift-neg);
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: scroll;
}
.slide {
  flex-shrink: 0;
  width: var(--content-width);
  margin: 0 var(--content-margin);
}
.imgWrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--vp-md);
  img {
    height: 50vh;
    width: 70vw;
    width: 100%;
  }
}
.title {
  @include headerText;
  font-size: var(--text-6xl);
  position: absolute;
  bottom: 5%;
  left: -5%;
  mix-blend-mode: difference;
}
.text {
  @include paragraphText;
  span:nth-child(2) {
    display: none;
  }
}
.btnCta {
  margin-top: var(--intracontent-margin-xl);
}
