@import "/styles/mixins";

//// < zIndex > ////
.topNav {
  z-index: var(--level-nav);
  isolation: isolate;
}

.topNav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: var(--nav-height);
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  transition: var(--transition-primary);
  &::after {
    z-index: -1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-image: url("/noise-bg.png");
    filter: brightness(150%);
    opacity: 0.4;
  }
}

.navActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navItem {
  margin-right: 2rem;
  font-size: var(--text-md);
  text-transform: uppercase;
  @media (max-width: 1024px) {
    display: none;
  }
  color: var(--white);
  &:nth-child(3) {
    margin-right: 4rem;
    @media (max-width: 592px) {
      margin-right: 0;
    }
  }
  &:hover {
    color: var(--primary-light);
  }
}

.logo {
  scale: 0.8;
  transform-origin: left;
  height: auto;
}

.menuBtn {
  cursor: pointer;
  position: relative;
  height: 12px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  transform-origin: right;
  transition: var(--transition-primary);
  &:hover {
    transform: scaleX(1.2);
  }
  span {
    background-color: var(--white);
    position: relative;
    height: 2px;
    height: 0.5px;
    transition: var(--transition-primary);
    &:nth-child(1) {
      width: 48px;
    }
    &:nth-child(2) {
      width: 36px;
    }
    @media (max-width: 592px) {
      background-color: var(--white) !important;
    }
  }
  &.dark {
    span {
      background-color: var(--primary);
    }
  }
  &.closeBtn {
    &:hover {
      transform: unset;
      span {
        background-color: var(--primary-deep);
      }
    }
    span {
      width: 48px;
      &:nth-child(1) {
        transform: rotate(45deg) translate(7px, 7px);
      }
      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }
}
