@import "/styles/_mixins.scss";

.authorization {
  @include homeSection;
  @include fullBleedContent;
  background-color: var(--primary);
  flex-direction: column;
}
.title {
  @include headerText;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 17vw;
  height: 8vw;
  margin: 4vh;
  background-color: var(--primary-deep);
  border-radius: var(--radius-lg);
}
.icon {
  svg {
    height: 75px;
    path {
      fill: var(--white);
    }
  } 
}
.divider {
  font-size: var(--text-4xl);
  font-weight: var(--light);
  color: var(--white);
}

.instruction {
  @include paragraphText;
  @include flexCenter;
  color: var(--white);
  flex-direction: column;
  width: 30vw;
  text-align: center;
  span:first-child {
    margin-bottom: var(--space-2xl);
  }
}
.authBtn {
  margin: var(--space-4xl);
  span {
    color: var(--white);
    font-weight: var(--reg);
    font-size: var(--text-3 xl);
  }
  &:hover {
    path {
      fill: var(--primary-deep);
    }
    circle {
      stroke: var(--primary-deep);
    }
  }
}
