@import "/styles/mixins";

.testimonial {
  @include homeSection;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.label {
  @include sectionLabel;
}
.blurb {
  // background-color: lightblue;
  height: 25vh;
  width: 100%;
  margin-top: 12vh;
  .title {
    @include headerText;
  }
  .text {
    @include paragraphText;
    margin-top: var(--space-2xl);
    width: 60%;
  }
}
.testimonialSliderBase {
  position: relative;
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.testimonialSlider {
  position: absolute;
  top: 0;
  left: var(--content-shift-neg);
  width: 105vw;
  height: 60vh;
  margin: 0 !important;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.testimonialList {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  padding-right: 35vw;
}

.quoteContainer {
  position: relative;
  width: 15vw;
  height: 40vh;
  margin-left: 10vw;
  margin-left: var(--content-margin);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  &:hover {
    .attrImg {
      opacity: 0.65;
    }
  }
}
.quoteMark {
  position: absolute;
  top: 0;
  left: 0;
}
.quote {
  font-size: var(--text-prose-em);
  font-weight: var(--reg);
  line-height: 200%;
  margin: 0;
  margin-bottom: var(--space-2xl);
  width: 80%;
}
.attr {
  font-size: var(--text-subheader);
  font-style: italic;
  letter-spacing: var(--push-lg);
  color: var(--grey-50);
  font-weight: var(--light);
  text-transform: uppercase;
}

.attrImg {
  z-index: var(--level-top);
  pointer-events: none;
  position: fixed;
  top: -510vh;
  left: -3vh;
  // opacity: 0;
  overflow: hidden;
  border-radius: 5px;
  border-bottom-right-radius: 40px;
  transition: var(--transition-primary);
}

.fadeTransitionBlock {
  position: absolute;
  right: calc(-1 * var(--content-shift));
  right: var(--content-shift-neg);
  width: 30vw;
  height: 100%;
  opacity: 0.8;
  background: linear-gradient(to right, transparent 0%, var(--primary-bg) 40%);
  // background-color: lightblue; 
}
