@import "/styles/mixins";

.testimonial {
  @include homeSection;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: visible;
  @media (max-width: 1024px) {
    justify-content: center;
  }
}

.label {
  @include sectionLabel;
  @include fullBleedContent;
  top: calc(45% + var(--space-8xl));
  @media (max-width: 1024px) {
    display: none;
  }
}

.sectionAccent {
  position: absolute;
  top: 0;
  left: -120%;
  svg {
    height: 80vh;
    width: 80vh;
    opacity: 0.5;
  }
  path {
    stroke-width: 0.5px;
  }
}

.blurb {
  margin-top: var(--content-top-margin);
  margin-bottom: var(--intracontent-margin);
  width: calc(1.5 * var(--column-width));
  .title {
    @include headerText;
  }
  .text {
    @include paragraphText;
    font-family: var(--font-med);
    margin-top: var(--space-2xl);
    span:nth-child(1) {
      display: none;
    }
    @media (max-width: 1024px) {
      width: 100%;
      margin-top: var(--intracontent-margin-sm);
      span:nth-child(1) {
        display: block;
      }
      span:nth-child(2) {
        display: none;
      }
    }
  }
  @media (max-width: 1024px) {
    height: 20vh;
    width: 100%;
    margin-bottom: 0;
  }
}
.testimonialSliderBase {
  position: relative;
  overflow: visible;
  width: 100vw;
  height: 100%;
  transform: translateX(var(--content-shift-neg));
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  @media (max-width: 1024px) {
    height: 80vh;
    background-color: var(--primary-tr-2);
  }
}

.testimonialSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 105vw;
  height: 60vh;
  margin: 0 !important;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @media (max-width: 1024px) {
    align-items: flex-start;
    height: 100%;
    width: 100%;
  }
}

.testimonialList {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  padding-right: 35vw;
  padding-left: var(--content-shift);
  @media (max-width: 1024px) {
    height: 100%;
    width: 100%;
    padding: 0;
  }
}

.quoteContainer {
  position: relative;
  width: var(--column-width);
  margin-right: var(--intracontent-margin);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  &:hover {
    .attrImg {
      opacity: 0.65;
    }
  }
  @media (max-width: 1024px) {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    align-items: center;
  }
}
.quoteMark {
  position: absolute;
  top: 0;
  left: -5%;
}
.quote {
  @include paragraphText;
  line-height: 200%;
  margin: 0;
  margin-bottom: var(--space-2xl);
  width: 80%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  b {
    display: block;
    margin-bottom: var(--intracontent-margin);
    font-size: var(--text-header-sm);
    font-weight: var(--reg);
    color: var(--primary);
  }
  span {
    letter-spacing: var(--push-sm);
    font-weight: 300;
  }
  @media (max-width: 1024px) {
    width: var(--content-width);
    text-align: left;
    margin-bottom: var(--vp-lg);
  }
}
.attr {
  letter-spacing: var(--push-lg);
  background-color: var(--primary-tr-2);
  border-radius: var(--radius-rounded);
  padding-right: var(--space-2xl);
  font-weight: var(--light);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  span {
    margin-left: var(--space-lg);
    font-family: var(--font-title);
    font-size: var(--text-xl);
    font-weight: var(--reg);
    letter-spacing: normal;
    color: var(--primary);
  }
  @media (max-width: 1024px) {
    margin-bottom: var(--intracontent-margin-lg);
  }
}

.attrImg {
  height: var(--space-7xl);
  width: var(--space-7xl);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: var(--radius-rounded);
  border: 2px solid var(--primary);

  img {
    height: 100%;
    width: 100%;
  }
  @media (max-width: 1024px) {
    height: 100px;
    width: 100px;
    display: flex;
  }
}

.scrollTip {
  @include smallLabelText;
  color: var(--primary);
  letter-spacing: var(--push-lg);
  position: absolute;
  bottom: var(--intracontent-margin-lg);
  left: var(--content-shift);
  @media (max-width: 1024px) {
    bottom: var(--intracontent-margin-lg);
    right: var(--intracontent-margin-lg);
  }
}

.fadeTransitionBlock {
  pointer-events: none;
  position: absolute;
  right: calc(-1 * var(--content-shift));
  right: var(--content-shift-neg);
  width: 60vw;
  height: 100%;
  opacity: 0.8;
  background: linear-gradient(
    to right,
    transparent 0%,
    var(--primary-bg) 40%
  );
  @media (max-width: 1024px) {
    display: none;
  }
}
