@import "/styles/mixins";

.container {
  --container-height: 65vh;

  position: relative;
  height: var(--container-height);
  width: 100%;
  margin-top: var(--nav-height);
}

.hero {
  isolation: isolate;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: var(--container-height);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: var(--container-height);
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.imgWrap {
  position: relative;
  width: 100%;
  height: var(--container-height);
  &::before {
    @include shade(var(--primary-tr));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.textWrap {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-tr-2);
  @media (max-width: 1024px) {
    padding-top: 10vh;
    background-color: var(--primary-tr);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.heroText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--primary);
  button {
    margin-top: 2rem;
    @media (max-width: 592px) {
      font-size: 1.15rem !important;
    }
  }
  @media (max-width: 1024px) {
    align-items: center;
    text-align: center;
    color: var(--white);
  }
}
.header {
  font-family: var(--font-semibold);
  display: flex;
  flex-direction: column;
  font-weight: 100;
  span:nth-child(1),
  span:nth-child(2) {
    font-size: var(--text-hero-sm);
    line-height: 100%;
    @media (max-width: 1500px) {
      font-size: var(--text-header);
    }
    @media (max-width: 1024px) {
      font-size: var(--text-hero);
    }
    @media (max-width: 592px) {
      font-size: var(--text-header);
    }
  }
  span:nth-child(4) {
    font-family: var(--font-italic);
    font-size: var(--text-header-sm);
  }
}

.accentShapes {
  z-index: -1;
  position: absolute;
  left: -15%;
  top: -55%;
  opacity: 0.4;
  scale: 0.9;
  transform-origin: left;
  path {
    stroke-width: 1px;
  }
  @media (max-width: 1024px) {
    opacity: 0.5;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    scale: .75;
    path {
      stroke: var(--white) !important;
    }
  }
}
