@import "/styles/mixins";

.pillars {
  // @include homeSection(300vh);
  @include homeSection(400vh);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 1024px) {
    height: auto;
    margin-bottom: calc(2 * var(--intersection-margin));
  }
}

.flexWrap {
  @include flexCenter;
  height: 100vh;
  width: 100%;
  @media (max-width: 1024px) {
    margin-top: var(--intersection-margin);
    height: auto;
  }
}

.container {
  height: min(400px, 42vh);
  display: grid;
  align-items: center;
  justify-content: center;
  gap: var(--intracontent-margin-lg);
  grid-template-rows: min(400px, 42vh);
  grid-template-columns: min(400px, 42vh) min(560px, 29vw);
  grid-template-areas: "image text";
  position: relative;
  &.reverse {
    grid-template-columns: min(560px, 29vw) min(400px, 42vh) !important;
    grid-template-areas: "text image";
    @media (max-width: 1024px) {
      grid-template-rows: max(112px, 15vh) max(272px, 34vh) auto;
      grid-template-columns: var(--content-width) !important;
      grid-template-areas:
        "title"
        "image"
        "text";
    }
  }
  @media (max-width: 1024px) {
    height: auto;
    gap: var(--intracontent-margin);
    grid-template-rows: max(112px, 15vh) max(272px, 34vh) auto;
    grid-template-columns: var(--content-width);
    grid-template-areas:
      "title"
      "image"
      "text";
  }
}
.imgContent {
  grid-area: image;
  height: min(400px, 42vh);
  aspect-ratio: 1 / 1;
  @media (max-width: 1024px) {
    height: 100%;
    width: 100%;
  }
}
.textContent {
  grid-area: text;
  width: min(500px, 29vw);
  .title {
    @include headerText;
    font-size: var(--text-header-sm);
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .text {
    @include paragraphText;
    font-weight: var(--reg);
    line-height: 30px;
    margin: 0;
  }
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.mTitle {
  display: none;
  @media (max-width: 1024px) {
    @include headerText;
    font-size: var(--text-header-sm);
    margin: 0;
    margin-bottom: var(--intracontent-margin-sm);
    grid-area: title;
    display: flex;
    .mAccent {
      position: absolute;
      top: calc(-1 * var(--intracontent-margin-sm));
      left: calc(-1 * var(--intracontent-margin-sm));
    }
  }
}

.accent {
  height: 65vh;
  width: 65vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  grid-template-areas: "center";
  align-items: center;
  justify-content: center;
  .outer {
    height: 100%;
    width: 100%;
    grid-area: center;
    svg {
      height: 100%;
      width: 100%;
      path {
        stroke-width: 0.5px !important;
      }
    }
  }
  .inner {
    height: 100%;
    width: 100%;
    grid-area: center;
    display: grid;
    align-items: center;
    justify-content: center;
    @media (max-width: 1024px) {
      display: none;
    }
  }
}
