@import '/styles/mixins';




//// < z-index > ////
.contact {
  isolation: isolate;

  .formSection {
    z-index: 4;
  }
  &::after {
    z-index: 3;
  }
  &::before {
    z-index: 2;
  }
  .mapSection {
    z-index: 1;
  }
}

.contact {
  @include homeSection;
  height: 120vh;
  margin-bottom: 0;
  justify-content: flex-start;
  &::before {
    content: '';
    position: absolute;
    top: 4px;
    left: var(--content-shift-neg);
    height: 100%;
    width: 100vw;
    background: linear-gradient(90deg, #F1F4F5 40%, transparent 100%);
    @media (max-width: 1024px) {
      background: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 4px;
    left: var(--content-shift-neg);
    width: 100vw;
    opacity: 0;
    background-image: url('/noise-bg.png');
    background-size: contain;
    background-position: center;
    overflow: hidden;
    @media (max-width: 1024px) {
      background: none;
    }
  }
  @media (max-width: 1024px) {
    margin-top: 20vh;
    margin-bottom: 3px;
    height: 150vh;
    flex-direction: column;
    width: 100%;
    &::after {
      display: none;
    }
  }
}

.contactContainer {
  @include fullBleedContent;
}

.formSection {
  height: 100%;
  margin-top: var(--content-top-margin);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: hidden;
  @media (max-width: 1024px) {
    height: auto;
    width: 100%;
    padding: 0;
    margin-bottom: var(--vp-xl);
    overflow: visible;
  }
}
.title {
  @include headerText;
  font-weight: var(--light);
  @media (max-width: 1024px) {
    font-size: var(--text-header-sm);
    color: var(--primary);
    margin-bottom: var(--space-2xl);
  }
}
.blurb {
  width: 60%;
  font-size: var(--text-prose-em);
  margin-bottom: var(--vp-ms);
  .text {
    display: none;
  }
  @media (max-width: 1024px) {
    overflow: visible;
    position: relative;
    width: 100%;
    .title {
      margin-bottom: var(--intracontent-margin-sm);
    }
    .text {
      display: block;
    }
    .sectionAccent {
      position: absolute;
      top: calc(-1 * var(--space-2xl));
      left: calc(-1 * var(--space-2xl));
      display: flex;
      height: 17vh;
      width: 17vh;
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}
.contactForm {
  width: calc(2 * var(--column-width));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  input {
    padding: var(--space-2xl);
    margin-bottom: var(--vp-md);
    width: 80%;
    border: none;
    background-color: transparent;
    border-bottom: 0.5px solid var(--primary);
    font-size: var(--text-prose);
    transition: var(--transition-primary);
    &::placeholder {
      font-family: var(--font-body);
      font-size: var(--text-prose);
      letter-spacing: var(--push-sm);
      color: var(--primary);
      @media (max-width: 1024px) {
      }
    }
    &:active,
    &:focus,
    &:focus-within {
      border-color: var(--primary-deep  );
      &::placeholder {
        color: var(--primary-deep);
      }
    }
    @media (max-width: 1024px) {
      border-color: var(--primary);
    }
  }
  textarea {
    height: 35vh;
    width: 80%;
    margin: var(--vp-md) 0;
    padding: var(--space-2xl);
    background-color: transparent;
    border: 0.5px solid var(--primary);
    border-radius: var(--radius-lg);
    font-family: var(--font-body);
    font-size: var(--text-prose);
    letter-spacing: var(--push-sm);
    ::-webkit-resizer {
      display: none;
    }
    &::placeholder {
      font-family: var(--font-body);
      font-size: var(--text-prose);
      letter-spacing: var(--push-sm);
      color: var(--primary);
      @media (max-width: 1024px) {
      }
    }
    &:active,
    &:focus,
    &:focus-within {
      border-color: var(--primary-deep  );
      color: var(--primary-deep );
      &::placeholder {
        color: var(--primary-deep );
      }
    }
    @media (max-width: 1024px) {
      border-color: var(--primary);
    }
  }
  @media (max-width: 1024px) {
    @include fullBleedContent;
    margin-top: 25vh;
    textarea,
    input {
      width: var(--mobile-content-width);
      margin-left: 5vw;
    }
  }
}
.name {
}
.email {
}
.message {
}
.submitBtn {
  span {
    color: var(--text-color);
    font-weight: var(--reg);
  }
  @media (max-width: 1024px) {
    margin-left: 5vw;
  }
}

.mapSection {
  position: absolute;
  top: 0;
  right: var(--content-shift-neg);
  width: 50vw;
  height: 100%;
  overflow-y: hidden;
  img {
    margin-top: 5px;
    object-fit: cover;
  }
  @media (max-width: 1024px) {
    @include fullBleedContent;
    top: unset;
    transform: translate(-50%, 0);
    bottom: 0;
    overflow: unset;
    height: 40vh;
  }
}
.mapShade {
  @media (max-width: 1024px) {
    display: none;
  }
}