@import "/styles/mixins";

.container {
  position: relative;
  height: auto;
  width: 100%;
  width: 100ch !important;
  margin-top: var(--nav-height);
  margin-top: 10vh;
  padding-top: var(--space-7xl);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @media (max-width: 1024px) {
    width: 100%;
    padding-top: var(--space-4xl);
  }
  @media (max-width: 592px) {
    padding-top: var(--space-2xl);
  }
}

.bodyBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-lg);

  h2 {
    @include subheaderText;
    color: var(--primary);
    @media (max-width: 592px) {
      font-size: 28px;
    }
  }
  p {
    @include paragraphText;
    font-size: var(--text-ml) !important;
  }
}

.quoteBlock {
  padding: var(--space-lg);
  padding-left: var(--space-2xl);
  border-left: 1px solid var(--primary);

  font-size: 20px;
  font-style: italic;
  line-height: 180%;
  color: var(--primary);
}

.footer {
  width: 100%;
  padding-top: var(--space-3xl);
  border-top: 0.5px solid var(--primary);

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--primary);
  }

  @media (max-width: 592px) {
    flex-direction: column;
    gap: var(--space-7xl);
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-xl);

    svg {
      height: 30px;
      width: 30px;
    }

    .linkIcon {
      svg {
        height: 27px;
        width: 27px;
      }
    }
  }
}

.relatedSection {
  margin-top: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--space-2xl);

  .heading {
    @include subheaderText;
    color: var(--primary);
    @media (max-width: 592px) {
      font-size: 28px;
    }
  }

  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-2xl);
    @media (max-width: 592px) {
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
    }
  }
}
