@import "/styles/mixins";

//// < zIndex > ////

.schedule {
  isolation: isolate;
  @media (max-width: 1024px) {
    @include homeSection;
    width: var(--content-width);
    height: 175vh;
    margin-top: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.scheduleContainer {
  @include homeSection(120vh);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  @media (max-width: 1024px) {
    margin-top: 0;
  }
}

.label {
  @include sectionLabel;
  @media (max-width: 1024px) {
    display: none;
  }
}

.blurb {
  margin-top: var(--content-top-margin);
  .title {
    @include headerText;
    margin-bottom: var(--title-space-bot);
  }
  .text {
    @include paragraphText;
  }
  @media (max-width: 1024px) {
    width: 100%;
    .sectionAccent {
      position: absolute;
      top: 0;
      left: calc(-1 * var(--space-2xl));
      display: flex;
      height: 17vh;
      width: 17vh;
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.schedulingAppContainer {
  margin-top: var(--space-4xl);
  width: 100%;
  min-height: 78vh;
  display: grid;
  height: 65vh;
  grid-template-columns: 0.55fr 0.2fr 0.3fr;
  grid-template-rows: 100%;
  @media (max-width: 1024px) {
    @include fullBleedContent;
    top: 80%;
    min-height: 100vh;
    gap: var(--intracontent-margin-lg);
    grid-template-columns: 1fr;
    grid-template-rows: max(400px, 60vh) max(176px, 25vh) max(392px, 50vh);
  }
}

.calendarBlock {
  display: flex;
  align-items: center;
  padding: 0 var(--space-2xl);
  &:hover {
    border-radius: var(--radius-md);
    background-color: var(--primary-tr-2);
    border: 1px solid var(--primary);
    @media (max-width: 1024px) {
      border: none;
      background-color: transparent;
    }
  }
  @media (max-width: 1024px) {
    padding: 0;
    margin: 0 5vw;
    height: max(400px, 60vh);
  }
}

.hourBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-left: 1px solid var(--grey-10);
  border-right: 1px solid var(--grey-10);
  transition: var(--transition-primary);
  &:hover {
    border-radius: var(--radius-md);
    background-color: var(--primary-tr-2);
    border: 1px solid var(--primary);
    @media (max-width: 1024px) {
      border-radius: 0;
      background-color: var(--primary-tr-2);
      border-top: 1px solid var(--primary);
      border-bottom: 1px solid var(--primary);
    }
  }
  .scrollWrap {
    width: 100%;
    height: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    @media (max-width: 1024px) {
      height: 20vh;
      width: 100vw;
      margin: var(--intracontent-margin-lg) 0;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  .timesList {
    width: 100%;
    height: 90vh;
    margin-top: -3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    span {
      margin: 3vh;
    }
    @media (max-width: 1024px) {
      color: var(--primary-tr);
      flex-direction: row;
      justify-content: flex-start;
      height: 100%;
      margin: 0;
      width: auto;
    }
  }
  button {
    cursor: pointer;
    letter-spacing: var(--push-md);
    padding: 0.5rem 1rem;
    border-radius: var(--radius-md);
    font-family: var(--font-body);
    transition: var(--transition-primary);
    color: var(--text-color-med);
    &:hover {
      background-color: var(--primary-tr);
    }
    &:focus,
    &:focus-within {
      font-weight: var(--bold);
      color: var(--primary);
      background-color: var(--primary-tr);
    }
    &.selected {
      font-weight: var(--bold);
      color: var(--primary);
      background-color: var(--primary-tr-2);
    }
  }
  @media (max-width: 1024px) {
    margin: var(--intracontent-margin-lg) 0;
    min-height: 20vh;
    height: max(176px, 20vh);
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--primary-tr-2);
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    button {
      font-size: var(--text-prose-em);
      color: var(--primary);
    }
  }
}

.clientBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  &:hover {
    border-radius: var(--radius-md);
    background-color: var(--primary-tr-2);
    border: 1px solid var(--primary);
    @media (max-width: 1024px) {
      border: none;
      background-color: transparent;
    }
  }
  @media (max-width: 1024px) {
    height: max(392px, 50vh);
  }
}

.inputList {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  input {
    @include inputStyle;
    width: 100%;
    margin-bottom: var(--space-xl);
    color: var(--primary);
    transform: scale(0.8);

    &::placeholder {
      opacity: 0.8;
      color: var(--primary);
    }
  }
  @media (max-width: 1024px) {
    width: var(--mobile-content-width);
    input {
      transform: unset;
      margin-bottom: var(--intracontent-margin-lg);
    }
  }
}

.aptItemList {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  @media (max-width: 1024px) {
    display: none;
  }
}

.aptItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: var(--space-2xl);
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20% !important;
  margin-right: var(--space-lg);
}
.aptText {
  label {
    @include smallLabelText;
  }
}
.info {
  span {
    font-size: var(--text-prose);
    margin-right: var(--space-ms);
    color: var(--calendar-accent);
  }
}

.sessionSelect {
  position: relative;
  width: 70%;
  margin-left: var(--space-2xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  label {
    @include smallLabelText;
  }
  &::after {
    pointer-events: none;
    z-index: 2;
    position: absolute;
    right: 5%;
    top: 60%;
    content: "▾";
    color: var(--calendar-accent);
  }
  select {
    cursor: pointer;
    appearance: none;
    width: 100%;
    margin-top: var(--space-lg);
    padding: 1rem 1rem;
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: var(--radius-md);
    // font-size: var(--text-prose);
    color: var(--calendar-accent);
    list-style: var(--push-ms);
    @media (max-width: 1024px) {
      padding: var(--intracontent-margin-lg) 1rem;
    }
  }
  option {
    background-color: var(--grey-05);
    width: 100%;
    // display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--calendar-accent);
    :nth-child(2) {
      width: 4rem;
      border: 1px solid green;
    }
  }
  @media (max-width: 1024px) {
    width: var(--mobile-content-width);
    margin-left: 0;
  }
}

.pseudoSelect {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  border: 1px solid red;
  padding: 1rem;
  border: 1px solid var(--grey-10);
  background-color: var(--primary);
  color: var(--white);
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  li {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--radius-md);
    border: 1px solid transparent;
    padding: 1rem;
    color: var(--white);
    &:hover {
      border: 1px solid var(--calendar-accent);
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    span {
      pointer-events: none;
    }
  }
  @media (max-width: 1024px) {
    top: -300%;
  }
}

.btnSubmit {
  margin-top: var(--space-lg);
  @media (max-width: 1024px) {
    margin-top: var(--intracontent-margin-xl);
  }
}
