@import '/styles/mixins';

.offerings {
  height: 100vh;
  width: 100%;
  h2 {
    text-align: center;
    @media (max-width: 1024px) {
      text-align: left;
      font-size: var(--text-2xl);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      & span:first-child {
        white-space: nowrap;
      }
      & span:last-child {
        color: var(--calendar-accent);
      }
    }
  }
  @media (max-width: 1024px) {
    margin-top: var(--browser-bar);
    margin-bottom: var(--task-bar);
  }
}

.titleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleInner {
  width: 80%;
}

.cardContainer {
  margin-top: var(--space-5xl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1024px) {
    width: 100vw;
    transform: translateX(calc(-1 * (100vw - var(--content-width)) / 2));
    overflow-x: scroll;
  }
}

.sectionBlurb {
  @include paragraphText;
  width: 75%;
  margin: 3rem 0;
  text-align: center;
  @media (max-width: 1024px) {
    display: none;
  }
}


.card {
  height: 577px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  h4 {
    @include subheaderText;
    font-size: var(--text-header-sm);
  }
  p {
    @include paragraphText;
    font-family: var(--font-med);
  }
  button span {
    color: var(--text-color-med);
    font-weight: var(--reg) !important;
  }
  @media (max-width: 1024px) {
    width: var(--content-width);
    margin:0 calc((100vw - var(--content-width)) / 2);
  }
}

.imgWrap {
  height: 300px;
  width: 300px;
  background-color: slategray;
  @media (max-width: 1024px) {
    height: var(--content-width);
    width: var(--content-width);
  }
}