.container {
  height: auto;
  width: 100%;
  border-radius: var(--radius-sm);
  background-color: var(--primary-tr-1);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
}
.statement {
  padding: 3rem;
  padding-top: 2rem;
  &:nth-child(1) {
    margin-right: 10%;
    @media (max-width: 1024px) {
      margin-right: 5%;
    }
    @media (max-width: 700px) {
      padding-bottom: 0.5rem;
    }
  }
  &:nth-child(2) {
    margin-right: 5%;
  }
  @media (max-width: 1024px) {
    padding: 2rem;
    padding-top: 1.5rem;
  }
  @media (max-width: 700px) {
    margin-right: 0 !important;
  }
}
.header {
  margin-bottom: 0.5rem;
  font-family: var(--font-med);
  font-size: var(--text-header-xs);
  color: var(--primary-deep);
  @media (max-width: 592px) {
    font-family: var(--font-med);
  }
}
.content {
  font-size: var(--text-prose);
  color: var(--white);
  line-height: 150%;

  @media (max-width: 1024px) {
    font-size: 20px;
  }

  @media (max-width: 592px) {
    font-size: 20px;
  }
}
