

.container {
  margin: 1rem 0;
  padding: 2rem;
  background-color: var(--primary);
  border-radius: var(--radius-md);
}
.header {
  margin-bottom: .5ch;
  font-size: var(--text-prose-em);

  font-size: 32px;
  color: var(--primary-dark);
  @media (max-width: 592px) {
  }
}
.content {
  font-size: var(--text-prose-em);
  color: var(--white);

  @media (max-width: 592px) {
    font-size: 24px;
  }
}