.container {
  padding-bottom: 20rem;
  display: grid;
  gap: 4rem;

  padding-bottom: 5rem;
}

.welcome {
  height: 15lvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 592px) {
    min-height: 10lvh;
  }
  h3 {
    width: 85%;
    font-size: var(--text-prose-em);
    font-size: var(--text-1xl);
    font-family: var(--font-italic);
    font-weight: bold;
    color: var(--primary-deep);
    @media (max-width: 1024px) {
      width: 100%;
      line-height: 175%;
      font-size: var(--text-ml);
    }
  }
}

.intro {
  margin: var(--content-top-margin) 0;
  margin-top: 0;
  display: grid;
  gap: 2rem;
}

.ethos {
  display: grid;
  gap: 0.5rem 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, mincontent);
  grid-template-areas:
    "c0  c3"
    "c0  c3"
    "c1  c3"
    "c1  c4"
    "c2  c4"
    "c2  c4";
  article[data-grid-id="c0"] {
    grid-area: c0;
  }
  article[data-grid-id="c1"] {
    grid-area: c1;
  }
  article[data-grid-id="c2"] {
    grid-area: c2;
  }
  article[data-grid-id="c3"] {
    grid-area: c3;
  }
  article[data-grid-id="c4"] {
    grid-area: c4;
  }

  @media (max-width: 1024px) {
    grid-template-areas: unset;
    grid-template-rows: unset;
    grid-template-columns: 1fr;
    grid-auto-flow: row;

    article {
      grid-area: unset !important;
    }
  }
}
