@import '/styles/mixins';

.authError {
  @include homeSection;
  @include fullBleedContent;
  flex-direction: column;
  background-color: var(--grey-20);
}
.title {
  @include headerText;
}
.text {
  @include paragraphText;
  @include flexCenter;
  flex-direction: column;
  margin: 5vh;
  span:first-child {
    transform: scale(1.1);
    margin-bottom: var(--vp-md);
    font-style: italic;
  }
}
.emailLink {
  margin-left: .35rem;
  color: var(--primary-deep);
}
.backBtn {
}
