@import "/styles/_mixins.scss";

//// < zIndex > ////
.hero {
  z-index: var(--level-two);

  // % isolated zIndex % //
  .shade {
    z-index: 1;
  }
  .heroTextContent {
    z-index: 3;
  }
  .logoContainer {
    z-index: 2;
  }
  .fadeTransitionBar {
    z-index: 4;
  }
}

.hero {
  @include homeSection($full: true);
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImages {
  @include fullBleedContent;
  height: 110% !important;
  isolation: isolate;
  overflow: hidden;
  overflow: visible;
  img, video {
    position: absolute;
    top: 0;
    left: -15%;
    height: 98%;
    width: 120%;
    object-fit: cover;
  }
  .fadeTransitionBar {
    @include fadeTransitionBar($vOffset: -4vh);
    translate: 0 -5%;
  }
  .shade {
    @include gradientShade;
  }
  @media (max-width: 1024px) {
    video {
      height: 135%;
      width: 185%;
      left: -60%;
    }
  }
}

.heroTextContent {
  height: 100%;
  width: 100%;
  padding-top: 12.5vh;
  padding-bottom: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1024px) {
    justify-content: flex-start;
  }
}

.companyTitle {
  position: relative;
  isolation: isolate;
  @media (max-width: 1024px) {
    width: 120%;
    margin-top: -5vh;
    transform: scale(.9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--light);
  }
}

.title {
  font-family: var(--font-title);
  font-size: var(--text-prose-em);
  letter-spacing: var(--push-md);
  text-transform: uppercase;
  font-weight: var(--light);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  span {
    text-align: center;
  }
  span:nth-child(1) {
    font-size: var(--text-md  );
    margin-bottom: var(--space-md);
    @media (max-width: 1024px) {
      margin-bottom: 0;
      font-size: var(--text-md);
    }
  }
  @media (max-width: 1024px) {
    width: 80%;
    line-height: 175%;
    font-size: var(--text-prose);
    font-weight: var(--light);
  }
}

.logoWrap {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.8);
  svg {
    width: 8vw !important;
    @media (max-width: 1024px) {
      display: none;
    }
  }
  path {
    fill: var(--primary-tr);
    fill: var(--primary-tr-2);
  }
}

.tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 1024px) {
    margin-top: var(--vp-lg);
  }
}

.slogan {
  font-family: var(--font-title);
  font-size: var(--text-hero);
  letter-spacing: var(--push-sm);
  font-weight: var(--light);
  color: var(--white);
  text-align: center;
  em {
    color: var(--accent);
    letter-spacing: var(--push-md);
    font-style: unset;
  }
}

.btn {
  margin-top: 4vh;
  @media (max-width: 1024px) {
    margin-top: var(--vp-2xl);
  }
}


