@import "/styles/mixins";

//// < z-index > ////
.contact {
  isolation: isolate;

  .formSection {
    z-index: 4;
  }
  &::after {
    z-index: 3;
  }
  &::before {
    z-index: 2;
  }
  .mapSection {
    z-index: 1;
  }
}

.contact {
  @include homeSection;
  height: 70vh;
  margin: 0;
  display: grid;
  gap: 4vw;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: flex-start;
  align-items: flex-end;
  @media (max-width: 1024px) {
    height: auto;
    width: 100%;
    margin: 0;
    grid-template-columns: 1fr;
  }
  @media (max-width: 592px) {
    width: 100vw;
    // translate: -10% 0; 
    min-height: unset;
    margin-top: 0;
  }
}

.contactContainer {
  @include fullBleedContent;
}

.formSection {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow-y: hidden;
  @media (max-width: 1024px) {
    height: auto;
    background-color: var(--primary-tr-2);
    border-radius: var(--radius-sm);
    padding: 10%;
    align-self: center;
    justify-self: center;
    margin-bottom: var(--vp-xl);
    overflow: visible;
  }
  @media (max-width: 592px) {
    width: 100%;
  }
}
.title {
  @include headerText;
  font-weight: var(--light);
  @media (max-width: 1024px) {
    font-size: var(--text-header-sm);
    color: var(--primary);
    margin-bottom: var(--space-2xl);
  }
}
.blurb {
  h2 {
    font-size: var(--text-6xl);
  }
  @media (max-width: 1024px) {
    overflow: visible;
    position: relative;
    width: 100%;
    .title {
      margin-bottom: var(--intracontent-margin-sm);
    }
    .text {
      display: block;
    }
    .sectionAccent {
      position: absolute;
      top: calc(-1 * var(--space-2xl));
      left: calc(-1 * var(--space-2xl));
      display: flex;
      height: 17vh;
      width: 17vh;
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}
.contactForm {
  align-self: flex-start;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .contactInfo {
    width: 100%;
    height: 18vh;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  input {
    padding-left: 1rem;
    padding-bottom: 16px;
    padding-top: 16px;
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 0.5px solid var(--primary);
    font-size: var(--text-prose);
    transition: var(--transition-primary);
    &::placeholder {
      font-family: var(--font-body);
      font-size: var(--text-prose);
      letter-spacing: var(--push-sm);
      color: var(--primary);
      @media (max-width: 1024px) {
      }
    }
    &:active,
    &:focus,
    &:focus-within {
      border-color: var(--primary-deep);
      &::placeholder {
        color: var(--primary-deep);
      }
    }
    @media (max-width: 1024px) {
      border-color: var(--primary);
      width: 100%;
    }
    @media (max-width: 592px) {
      width: 100%;
    }
  }
  textarea {
    height: 22vh;
    width: 100%;
    padding: var(--space-2xl);
    background-color: transparent;
    border: 0.5px solid var(--primary);
    border-radius: var(--radius-lg);
    font-family: var(--font-body);
    font-size: var(--text-prose);
    letter-spacing: var(--push-sm);
    ::-webkit-resizer {
      display: none;
    }
    &::placeholder {
      font-family: var(--font-body);
      font-size: var(--text-prose);
      letter-spacing: var(--push-sm);
      color: var(--primary);
      @media (max-width: 1024px) {
      }
    }
    &:active,
    &:focus,
    &:focus-within {
      border-color: var(--primary-deep);
      color: var(--primary-deep);
      &::placeholder {
        color: var(--primary-deep);
      }
    }
    @media (max-width: 1024px) {
      margin-left: 0;
      border-color: var(--primary);
    }
    @media (max-width: 592px) {
      height: 30vh;
    }
  }
  @media (max-width: 1024px) {
    margin-top: 5vh;
  }
}
.name {
}
.email {
}
.message {
}
.submitBtn {
  margin-top: 2rem;
  button {
    color: var(--primary);
  }
}

.appointment {
  align-self: flex-start;
  width: auto;
  height: 100%;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10%;
  @media (max-width: 1024px) {
    display: none;
  }
}

.image {
  width: auto;
  height: 45vh;
  margin-top: 2rem;
  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    object-position: 80% 50%;
  }
}
.cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .heading {
    @include headerText;
    font-family: var(--font-reg);
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .text {
    @include paragraphText;
    font-size: var(--text-xl);
    font-size: var(--text-prose-em);
    font-weight: bold;
  }
  .btn {
    margin-top: 2rem;
    button {
      color: var(--primary);
    }
  }
}

.contactModal {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 592px) {
    align-items: flex-start;
    padding-top: 10vh;
  }

  .modalContent {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .modalIcon {
    path {
      fill: var(--accent);
    }
    @media (max-width: 592px) {
      transform-origin: bottom;
      scale: 0.75;
    }
  }
  .modalTitle {
    @include headerText(var(--white));
    br {
      display: none;
    }
    @media (max-width: 592px) {
      font-size: var(--text-ml);
    }
  }
  .modalDivider {
    display: block;
    height: 5px;
    width: 35px;
    background-color: var(--accent);
  }
  .modalText {
    @include paragraphText;
    font-size: var(--text-prose);
    color: var(--white);
    width: 40%;
    text-align: center;
    @media (max-width: 1024px) {
      width: 80%;
    }
    @media (max-width: 592px) {
      font-size: var(--text-prose);
    }
  }
}