//// < zIndex > ////
.modal {
  isolation: isolate;
}

@mixin pseudoLine {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: currentColor;
  height: 1px;
  width: 100%;
  transition: var(--transition-primary);
}

.modal {
  position: fixed;
  top: -2vh;
  left: 0;
  height: 102vh;
  width: 100vw;
  padding: 0;
  background-color: var(--primary);
  &::after {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    content: "";
    background-image: url("/noise-bg.png");
    opacity: 0.4;
    filter: brightness(150%);
  }
  @media (max-width: 1024px) {
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
  }
}

.menuOptions {
  height: 73vh;
  padding: 0 20vw;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1024px) {
    width: 80%;
    height: 100vh;
    padding: 0;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.divider {
  height: 30%;
  width: 1px;
  background-color: var(--white);
  @media (max-width: 1024px) {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-ms);
    height: 1px;
    width: 10vw;
  }
}

.menuList {
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  a {
    color: var(--white);
  }
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.contactOptions {
  align-items: flex-start;
  padding-right: 20%;
  li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  label {
    margin-bottom: var(--space-xl);
    font-size: var(--prose);
    font-weight: var(--light);
    text-transform: uppercase;
    color: var(--grey-10);
    @media (max-width: 1024px) {
      display: none;
    }
  }
  a {
    position: relative;
    font-size: var(--text-prose-em);
    font-weight: var(--reg);
    padding-bottom: var(--space-md);
    border-bottom: 1px solid transparent;
    transform-origin: left;
    transition: var(--transition-primary);
    &:hover {
      color: var(--accent);
      transform: scale(1.05);
      &::after {
        transform: scaleX(1);
      }
    }
    &::after {
      @include pseudoLine;
      transform-origin: left;
      transform: scaleX(0);
    }
    @media (max-width: 1024px) {
      font-size: var(--text-prose-em);
      color: var(--accent);
      padding-bottom: var(--vp-ms);
      height: 40%;
    }
  }
  @media (max-width: 1024px) {
    width: 100%;
    padding-top: var(--vp-md);
    justify-content: flex-start !important;
  }
}

.navOptions {
  height: 75%;
  align-items: flex-end;
  a {
    cursor: pointer;
    position: relative;
    font-family: var(--font-title);
    font-size: var(--text-header);
    font-weight: var(--reg);
    letter-spacing: var(--push-sm);
    padding-bottom: var(--space-md);
    border-bottom: 3px solid transparent;
    transition: var(--transition-primary);
    &:hover {
      color: var(--accent);
      &::after {
        transform: scaleX(1);
      }
    }
    &::after {
      @include pseudoLine;
      height: 3px;
      transform-origin: right;
      transform: scaleX(0);
    }
    @media (max-width: 1024px) {
      font-size: var(--text-2xl) !important;
    }
  }
  @media (max-width: 1024px) {
    align-items: flex-start;
  }
}

.menuFooter {
  height: 17vh;
  width: auto;
  margin: 0 10vw;
  display: flex;
  align-content: inherit;
  justify-content: space-between;
  color: var(--white);
  font-weight: var(--reg);
  @media (max-width: 1024px) {
    width: 80%;
    margin: 0;
    flex-direction: column;
  }
}

.social {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  a:not(:last-child) {
    margin-right: var(--space-2xl);
  }
  a svg {
    height: 30px !important;
    path {
      transition: var(--transition-primary);
    }
    &:hover {
      path {
        fill: var(--primary-deep);
      }
    }
  }
  @media (max-width: 1024px) {
    align-items: flex-start;
    justify-content: flex-start;
    path {
      fill: var(--accent);
    }
  }
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--reg);
  letter-spacing: var(--push-ms);
  @media (max-width: 1024px) {
    display: none;
  }
}
