@import "/styles/mixins";

.arrowBtn {
  @include btnText;
  cursor: pointer;
  background: none !important;
  border: none !important;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  color: var(--text-color);
  span:nth-child(1) {
    font-family: var(--font-body);
    white-space: nowrap;
    margin-right: var(--space-lg);
    margin-bottom: 1vh;
    &.light {
      color: var(--grey-10);
    }
  }
  svg {
    & > * {
      transition: var(--transition-primary);
    }
  }
  &:hover {
    path {
      // fill: hsla(var(--papaya-hs), 85%, 100%);
      fill: var(--primary-bright);
    }
    circle {
      // stroke: hsla(var(--papaya-hs), 85%, 100%);
      stroke: var(--primary-bright);
    }
  }
  @media (max-width: 1024px) {
    span {
      font-weight: var(--light) !important;
    }
  }
}
