.arrowBtn {
  cursor: pointer;
  background: none !important;
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: var(--text-lg);
  font-family: var(--font-body);
  font-weight: var(--reg);
  letter-spacing: var(--push-ms);
  color: var(--text-color);
  span:nth-child(1) {
    margin-right: var(--space-lg);
    margin-bottom: 1vh;
    &.light {
      color: var(--white);
    }
  }
  svg {
    & > * {
      transition: var(--transition-primary);
    }
  }
  &:hover {
    path {
      fill: hsla(var(--papaya-hs), 85%, 100%);
    }
    circle {
      stroke: hsla(var(--papaya-hs), 85%, 100%);
    }
  }
}