@import "/styles/mixins";

.intro {
  @include homeSection;
  display: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin: var(--intersection-margin) 0;
  h2 {
    text-align: center;
    @media (max-width: 1024px) {
      text-align: left;
      font-size: var(--text-xl);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      & span:first-child {
        white-space: nowrap;
      }
      & span:last-child {
        color: var(--primary-light);
      }
    }
  }
  @media (max-width: 1024px) {
    margin-top: var(--browser-bar);
    margin-bottom: var(--task-bar);
  }
}

.titleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleInner {
  width: 80%;
  @media (max-width: 592px) {
    width: 100%;
  }
}

.sectionBlurb {
  @include paragraphText;
  width: 75%;
  margin: 3rem 0;
  text-align: center;
  @media (max-width: 1024px) {
    display: none;
  }
}

.cardContainer {
  justify-self: center;
  align-self: center;
  height: auto;
  margin-top: var(--space-5xl);
  display: grid;
  gap: 4rem;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 1200px) {
    width: 50%;
    grid-template-columns: 100%;
    grid-template-rows: unset;
    grid-auto-rows: min-content;
  }
  @media (max-width: 1024px) {
    width: 80%;
  }
  @media (max-width: 592px) {
    width: 100%;
  }
}


.card {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  > * {
    margin-bottom: 1rem;
  }
  h4 {
    @include subheaderText;
    font-size: var(--text-header-xs);
    white-space: nowrap;
  }
  p {
    @include paragraphText;
    width: 100%;
    font-family: var(--font-med);
  }
  button span {
    font-family: var(--font-med) !important;
    color: var(--text-color-med);
  }
  @media (max-width: 1024px) {
    align-items: center;
    p {
      text-align: center;
    }
  }
}

.cardBtn {
  button {
    font-size: var(--text-prose);
    color: var(--primary);
  }
}

.imgWrap {
  height: 300px;
  width: 100%;
  background-color: slategray;
}
