@import "/styles/mixins";

//// < zIndex > ////
.intro {
  .collage {
    z-index: 2;
  }
  .sectionLabel {
    z-index: 1;
  }
}

.intro {
  position: relative;
  height: 135vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  @media (max-width: 1024px) {
    height: 100vh;
  }
}

.sectionLabel {
  @include sectionLabel(20vh);
  @media (max-width: 1024px) {
    display: none;
  }
}

// TODO: Should this be removed??
// .quote {
//   position: relative;
// }

.collage {
  position: relative;
  height: 85vh;
  width: 100vw;
  // border: 1px solid var(--text-color);
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    @media (max-width: 1024px) {
      display: none;
    }
  }

  .collagePrimary {
    position: absolute;
    height: 32vw;
    width: 32vw;
    top: 25vh;
    left: 0;
    background-color: var(--primary-tr);
    @media (max-width: 1024px) {
      top: 0;
      left: 0;
      width: 80vw;
      background-color: transparent;
    }
  }

  .collageTextContent {
    position: absolute;
    top: 50%;
    right: -120%;
    transform: translateY(-50%);
    height: auto;
    width: 35vw;
    .blurbEmph {
      color: var(--primary-deep);
      font-weight: var(--body);
      letter-spacing: var(--push-sm);
    }
    @media (max-width: 1024px) {
      width: 100%;
      top: 0;
      left: 0;
      right: unset;
      transform: unset;
    }
  }

  .sectionAccent {
    display: none;
    @media (max-width: 1024px) {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      height: 17vh;
      width: 17vh;
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  .title {
    @include headerText;
    font-size: var(--text-header-sm);
    white-space: nowrap;
    transform: translateX(-50%);
    margin-bottom: var(--space-2xl);
    @media (max-width: 1024px) {
      transform: unset;
      white-space: initial;
    }
  }

  .blurb {
    @include paragraphText;
    @media (max-width: 1024px) {
      width: 95%;
    }
  }

  .btn {
    margin-top: var(--vp-ms);
    a {
      color: var(--text-color) !important;
      font-weight: var(--reg);
    }
    span {
      letter-spacing: 0 !important;
    }
  }
  .collageImg {
    position: absolute;
    background-color: var(--primary-tr);
    @media (max-width: 1024px) {
      display: none;
    }
  }

  .sec {
    height: 16vw;
    width: 16vw;
    top: 0;
    right: 7vw;
  }
  .ter {
    height: 14vw;
    width: 14vw;
    bottom: -25vh;
    right: 0;
  }

  @media (max-width: 1024px) {
    width: 100%;
  }
}
