@import "/styles/mixins";

//// < zIndex > ////
.intro {
  .collage {
    z-index: 2;
  }
  .sectionLabel {
    z-index: 1;
  }
}

.intro {
  @include homeSection;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  isolation: isolate;
  @media (max-width: 1024px) {
    height: 75vh;
  }
}

.sectionLabel {
  @include sectionLabel;
  @media (max-width: 1024px) {
    display: none;
  }
}

.collage {
  position: relative;
  height: 100%;
  width: 100%;
  // border: 1px solid var(--text-color);
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    @media (max-width: 1024px) {
      display: none;
    }
  }

  .collagePrimary {
    position: absolute;
    height: 400px;
    width: 400px;
    top: 32vh;
    left: 0;
    background-color: var(--primary-tr);
    @media (max-width: 1024px) {
      top: 0;
      left: 0;
      width: 100%;
      background-color: transparent;
    }
  }

  .collageTextContent {
    position: absolute;
    top: 50%;
    left: calc(var(--column-width) + var(--space-2xl));
    transform: translateY(-50%);
    height: auto;
    width: 35vw;
    .blurbEmph {
      color: var(--primary-deep);
      font-weight: var(--body);
      letter-spacing: var(--push-sm);
      font-size: calc(1.1 * var(--text-prose-em));
      br {
        display: none;
      }
      @media (max-width: 1024px) {
        display: block;
        margin-top: var(--intracontent-margin);
        br {
          display: initial;
        }
      }
    }
    @media (max-width: 1024px) {
      width: 100%;
      top: 0;
      left: 0;
      right: unset;
      transform: unset;
    }
  }

  .sectionAccent {
    display: none;
    @media (max-width: 1024px) {
      position: absolute;
      top: calc(-1 * var(--space-2xl));
      left: calc(-1 * var(--space-2xl));
      display: flex;
      height: 17vh;
      width: 17vh;
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  .title {
    @include headerText;
    white-space: nowrap;
    margin-bottom: var(--space-lg);
    transform: translateX(calc(-1 * var(--space-11xl)));
    @media (max-width: 1024px) {
      transform: unset;
      white-space: initial;
    }
  }

  .blurb {
    @include paragraphText;
    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  .btn {
    margin-top: var(--vp-ms);
    a {
      color: var(--text-color) !important;
      font-weight: var(--reg);
    }
    span {
      letter-spacing: 0 !important;
    }
    @media (max-width: 1024px) {
      margin-top: var(--intracontent-margin-xl);
    }
  }
  .collageImg {
    position: absolute;
    background-color: var(--primary-tr);
    @media (max-width: 1024px) {
      display: none;
    }
  }

  .sec {
    height: 27vh;
    width: 27vh;
    top: 0;
    right: 7vw;
  }
  .ter {
    height: 22vh;
    width: 22vh;
    bottom: 0;
    right: 0;
  }

  @media (max-width: 1024px) {
    width: 100%;
  }
}
