@import '/styles/_mixins.scss';

//// < zIndex > ////
.offerings {
  .offeringTextContent {
    z-index: 1;
  }

  .label {
    z-index: 0;
  }
}

.offerings {
  @include homeSection(135vh);
  margin-bottom: 15vh;
  overflow: visible;
}

.label {
  @include sectionLabel(30vh);
}

.offeringTextContent {
  pointer-events: none;
  position: absolute;
  top: 50vh;
  left: 10vw;
  width: 40%;
  .title {
    transform: translateX(-12vw);
    white-space: nowrap;
    font-family: var(--font-title);
    font-size: var(--text-header);
    font-weight: var(--light);
    margin-bottom: var(--space-2xl);
    background-blend-mode: color;
    mix-blend-mode: color;
  }

  .blurb {
    font-size: var(--text-prose);
  }
}

.sliderContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10vw;
  height: 75vh;
  width: 100vw;
}

.slider {
  position: absolute;
  left: 0vw;
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.block {
  cursor: pointer;
  position: relative;
  isolation: isolate;
  box-sizing: border-box;
  &:hover {
    opacity: 1;
    .blockTitle {
      color: var(--primary);
      transform: scale(1.1);
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
  .blockTitle {
    z-index: 2;
    position: absolute;
    height: auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    bottom: -2.5vh;
    right: -2.5vh;
    font-family: var(--font-title);
    font-size: var(--text-subheader);
    font-size: var(--text-4xl);
    font-weight: var(--reg);
    letter-spacing: var(--push-sm);
    color: var(--text-color);
    transition: all 1s;
    mix-blend-mode: plus-lighter;
  }
  .blockBtn {
    display: none;
    position: absolute;
    bottom: -12vh;
    right: 0;
    &:hover {
      path {
      fill: var(--primary);
    }
    circle {
      stroke: var(--primary);
    }
    }
    span {
      color: var(--text-color);
      font-weight: normal;
    }
    path {
      fill: var(--text-color);
    }
    circle {
      stroke: var(--text-color);
    }
  }
}

.blockPos {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  opacity: 0.6;
  &.hide {
    opacity: 0;
  }
  &.zero {
    // ^ OFF
    width: 17vw;
    transform: translate(-25vw, 15vh);
    transition: all 0s !important;
  }
  &.one {
    width: 17vw;
    transform: translate(-2vw, 18vh);
    transition: all 0.8s;
  }
  &.two {
    width: 14vw;
    transform: translate(27vw, 60vh);
    transition: all 0.8s;
  }
  &.three {
    // ^ MAIN
    z-index: 3;
    opacity: 1;
    width: 25vw;
    aspect-ratio: 3 / 4;
    transform: translate(63vw, 10vh);
    transition: all 0.8s;
    // pointer-events: none;
    
    .blockTitle {
      z-index: 2;
      position: absolute;
      transform: translate(-20%, -25%);
      font-size: var(--text-9xl);
      font-weight: var(--reg);
      color: var(--primary-deep);
    }
    .blockBtn {
      display: flex;
    }
  }
  &.four {
    // pointer-events: none;
    width: 17vw;
    // opacity: 0;
    transform: translate(97vw, 15vh);
    transition: all 0.8s;
  }
  &.five {
    // ^ OFF
    width: 17vw;
    transform: translate(107vw, 15vh);
    transition: all 0s !important;
    transition: all 0.8s;
  }
}
