// TODO: Review SCSS modules and refactor duplicate code into mixins.

// Containers & Sections
@mixin homeSection($height: 110vh) {
  position: relative;
  height: $height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  isolation: isolate;
}

@mixin fullBleedContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100vw;
}



// Typography
@mixin headerText {
  font-family: var(--font-title);
  font-size: var(--text-header);
  font-weight: var(--light);
}
@mixin subheaderText {
}
@mixin paragraphText {
  font-size: var(--text-prose-em);
  font-weight: var(--reg);
}



// Elements
@mixin fadeTransitionBar($height: 14.5vh, $bot: -1vh) {
  position: absolute;
  bottom: $bot;
  width: 100%;
  height: $height;
  background: linear-gradient(to bottom, transparent 0%, var(--primary-bg) 70%);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    background-image: url("/noise-bg.png");
    height: 100%;
    width: 100%;
  }
}

@mixin sectionLabel($top: 5vh) {
  position: absolute;
  top: $top;
  left: var(--content-shift-neg);
  width: 105vw;
}



// Pseudoelements
@mixin shade($bgColor: var(--black-fade-20)) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: $bgColor;
}



// Flex
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
