// > COMPONENTS < \\
.general-btn {
  cursor: pointer;
  outline: none !important;
  border-radius: var(--radius-md);
  white-space: nowrap;
  letter-spacing: 2px;
  font-family: var(--font-body);
  font-size: var(--text-md) !important;
  text-transform: uppercase;
  transition: var(--transition-primary);
  &:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
  }
  &.outline {
    border: 0.5px solid currentColor;
  }
  &.solid {
    background-color: var(--primary);
    color: var(--white);
    &:hover {
      background-color: var(--primary-dark);
    }
    &.light {
      background-color: var(--primary-light);
    }
  }
  &.dark {
    background-color: var(--primary-darker);
    color: var(--white);
    &:hover {
      background-color: var(--primary);
    }
  }
  &.parent-hover {
    color: var(--white) !important;
    background-color: var(--primary) !important;
  }
  &.force {
    &.xs {
    padding: 0.1rem .5rem !important;
  }
  }
  &.sm {
    font-size: var(--text-md);
    padding: 0.25rem 1rem;
  }
  &.med {
    font-size: var(--text-ml);
  }
  &.large {
    font-size: var(--text-lg);
  }
}
.time-btn {
  &.selected {
    color: var(--primary);
    background-color: var(--primary-tr-2);
  }
}
