html,
body {
  // font-synthesis: none;
  scroll-behavior: smooth;

  font-family: var(--font-body);
  height: auto;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  color: var(--text-color);
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: hsla(0, 0, 0, 0.1);
    background: var(--primary-tr);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-size: unset;
}

p {
  margin: 0;
  line-height: 175%;
  word-wrap: break-word;
  @media (max-width: 1024px) {
    line-height: 140%;
  }
}

button {
  background-color: transparent;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

* {
  box-sizing: border-box;
}

*,
*:focus,
*:hover {
  outline: none;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vp-marker {
  // background-color: red;
  z-index: 9999999999;
  position: absolute;
  width: 0.5px;
  height: 15px;
  &__text {
    top: 94vh;
    left: 10vw;
    @media (max-width: 1024px) {
      top: 22vh;
    }
  }
  &__hero {
    top: 0;
    height: 104vh;
    left: 10vw;
    @media (max-width: 1024px) {
      top: 90vh;
    }
  }
  &__pillars {
    top: 327vh;
    left: 10vw;
  }
}

.time-btn {
  &.selected {
    color: var(--primary);
    background-color: var(--primary-tr-2);
  }
}

.gradient-text {
  background: linear-gradient(
    49deg,
    var(--primary) 0%,
    var(--accent) 60%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#modal {
  z-index: var(--level-top);
  z-index: 99999999999999999;
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

.general-btn {
  display: inline;
  cursor: pointer;
  font-family: var(--font-body);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.8rem 1.75rem;
  border-radius: var(--radius-md);
  transition: var(--transition-primary);
  border: 0.5px solid currentColor;
  &:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white) !important;
  }

  &.solid.med {
    background-color: var(--primary);
    color: var(--white);
    &:hover {
      background-color: var(--primary-dark);
    }
  }
  &.solid.dark {
    background-color: var(--primary-darker);
    color: var(--white);
    &:hover {
      background-color: var(--primary-dark);
    }
  }
  &.large {
    font-size: var(--text-lg);
  }
}
