:root {
  /* font-family */
  --font-title: "Italiana", serif;
  --font-body: "Lato", sans-serif;

  /* palette */
  --full-black: rgb(0, 0, 0);
  --black: #464646;
  --black: rgb(70, 70, 70);
  --black-fade-5: hsla(0, 0%, 0%, 0.05);
  --black-fade-10: hsla(0, 0%, 0%, 0.1);
  --black-fade-20: hsla(0, 0%, 0%, 0.2);
  --black-fade-40: hsla(0, 0%, 0%, 0.4);
  --black-fade-50: hsla(0, 0%, 0%, 0.5);
  --black-fade-60: hsla(0, 0%, 0%, 0.6);
  --black-fade-80: hsla(0, 0%, 0%, 0.8);
  --grey-90: hsl(255, 11%, 15%);
  --grey-90: rgb(54, 54, 54);
  --grey-50: hsl(276, 2%, 47%);
  --grey-40: hsl(270, 2%, 60%);
  --grey-30: hsl(270, 2%, 70%);
  --grey-20: hsl(270, 2%, 80%);
  --grey-10: hsl(270, 2%, 90%);
  --grey-fade-20: hsla(276, 2%, 47%, 0.2);
  --grey-fade-07: hsla(0, 0%, 49%, 0.07);
  --off-white: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --white-fade-20: hsla(0, 0%, 100%, 0.2);
  --white-fade-35: hsla(0, 0%, 100%, 0.15);
  --papaya: #e6aca5;
  --snapdragon: #f4f7f8;

  --french-blue: #426e8d;
  --ocean-blue: #2b5879;
  --tangerine: #f27347;
  --baby-cherry: #b71f2f;
  --lotus-blossom: #facebf;
  
  --river-hs: 205, 48%;
  --lotus-hs: 15, 86%;
  --papaya-hs: 6, 57%;
  
  --cherry-hsl: 354, 71%, 42%;
  --papaya-hsl: 6, 57%, 77%;
  --french-hsl: 205, 36%, 41%;
  --river-hsl: 205, 48%, 32%;
  --lotus-hsl: 15, 86%, 86%;

  /* z-indeces */
  --base-two: -200;
  --base-one: -100;
  --ground: auto;
  --level-one: 100;
  --level-two: 200;
  --level-three: 300;
  --level-four: 400;
  --level-five: 500;
  --level-six: 600;
  --level-seven: 700;
  --level-eight: 800;
  --level-nine: 900;
  --level-top: 9999;

  /* radii */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-xl: 48px;
  --radius-rounded: 999px;

  /* spacing */
  --space-xs: 2px;
  --space-sm: 4px;
  --space-ms: 6px;
  --space: 8px;
  --space-md: 10px;
  --space-lg: 16px;
  --space-xl: 24px;
  --space-2xl: 32px;
  --space-3xl: 48px;
  --space-4xl: 64px;
  --space-5xl: 72px;
  --space-5xl: 80px;
  --space-6xl: 88px;
  --space-7xl: 96px;
  --space-8xl: 104px;
  --space-9xl: 112px;
  --space-10xl: 120px;
  --space-11xl: 128px;
  --space-12xl: 136px;

  /* viewport-spacing */
  --vp-xxs: 1vh;
  --vp-xs: 1.5vh;
  --vp-sm: 2.5vh;
  --vp-ms: 3.5vh;
  --vp-md: 5vh;
  --vp-ml: 6.5vh;
  --vp-lg: 9vh;
  --vp-xl: 12vh;
  --vp-2xl: 26vh;

  /* line-height */
  --solid: 1;
  --dense: 1.25;
  --default: 1.5;
  --loose: 2;

  /* letter-spacing */
  --push-xl: 0.25em;
  --push-lg: 0.15em;
  --push-md: 0.08em;
  --push-ms: 0.06em;
  --push-sm: 0.02em;
  --tight: -0.015em;

  /* font-weight */
  --light: 200;
  --reg: 300;
  --body: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  /* font-sizes */
  --text-xs: 8px;
  --text-sm: 12px;
  --text-md: 16px;
  --text-ml: 20px;
  --text-lg: 24px;
  --text-xl: 32px;
  --text-2xl: 40px;
  --text-3xl: 48px;
  --text-4xl: 56px;
  --text-6xl: 64px;
  --text-7xl: 72px;
  --text-8xl: 80px;
  --text-9xl: 88px;
  --text-10xl: 96px;
  --text-11xl: 104px;

  // * role-based tokens * //

  /* colors */
  --primary: var(--french-blue);
  --primary-hs: var(--river-hs);
  --primary-hsl: var(--river-hsl);
  --primary-tr: hsla(var(--river-hsl), 0.25);
  --primary-tr-2: hsla(var(--river-hsl), 0.15);
  --primary-tr-3: hsla(var(--river-hsl), 0.05);

  --primary-deep: var(--ocean-blue);

  --primary-bg: var(--snapdragon);

  --accent: var(--lotus-blossom);
  --accent-tr: hsla(var(--lotus-hsl), 0.25);
  --accent-tr-2: hsla(var(--lotus-hsl), 0.15);
  --accent-tr-3: hsla(var(--lotus-hsl), 0.05);

  --text-color: var(--black);
  --text-color-med: var(--grey-40);
  --text-color-inv: #b9b9b9;
  --label-color: hsla(var(--river-hsl), 5%);

  --emph-color: var(--baby-cherry);
  --emph-tr: hsla(var(--cherry-hsl), .1);

  --calendar-accent: var(--tangerine);

  /* bezier curves */
  --smooth: cubic-bezier(0.115, 0.905, 0.32, 1);
  --punchitchewy: cubic-bezier(1, 0, 0.115, 0.995);
  --smooth-framer: [0.115, 0.905, 0.32, 1];

  /* transitions */
  --transition-1: all 1s var(--punchitchewy);
  --transition-2: all 0.6s var(--punchitchewy);
  --transition-3: all 0.3s var(--punchitchewy);
  --transition-4: all 0.1s var(--punchitchewy);
  --transition-1-smooth: all 1.25s var(--smooth);
  --transition-2-smooth: all 0.6s var(--smooth);
  --transition-3-smooth: all 0.3s var(--smooth);
  --transition-4-smooth: all 0.1s var(--smooth);

  --transition-primary: var(--transition-3-smooth);

  /* shadows */
  --shadow: 4px 4px 12px var(--black-fade-10);

  /* text size */
  --text-hero: var(--text-10xl);      // 96px
  --text-header-lg: var(--text-7xl);  // 72px
  --text-header: var(--text-6xl);     // 64px
  --text-header-sm: var(--text-3xl);  // 48px
  --text-subheader: var(--text-xl);   // 32px

  --text-link: var(--text-3xl);        // 48px

  --text-prose-xl: var(--text-3xl);    // 48px
  --text-prose-em: var(--text-lg);     // 24px
  --text-prose: var(--text-ml);        // 20px

  --nav-width: 93vw;
  --content-width: 1200px;
  --column-width: calc(var(--content-width) / 3);
  --content-margin: calc((100vw - var(--content-width)) / 2);
  --content-shift: var(--content-margin);
  --content-shift-neg: calc(-1 * var(--content-shift));
  --mobile-content-width: 90vw;

  --intersection-margin: 24vh;
  --content-top-margin: var(--space-11xl);    // 128px
  --intracontent-margin-lg: var(--space-4xl); // 64px
  --intracontent-margin: var(--space-2xl);    // 32px
  --intracontent-margin-sm: var(--space-xl);  // 24px

  --browser-bar: 100px;
  --task-bar: 40px;
  --os-vp-vh: calc(var(--browser-bar)) + var(--task-bar);

  /* Text Spacing */
  --title-space-bot: var(--space-md);

  /* Section Spacing */
  --section-buffer: var(--vp-xl);
}


/* role-based token adjustments per breakpoint */

@media (max-width: 1024px) {  
  :root {
    /* text size */
    --text-hero: var(--text-6xl);      // 96px
    --text-header: var(--text-3xl);    // 48px
    --text-header-sm: var(--text-2xl); // 40px
    --text-subheader: var(--text-xl);  // 32px

    --text-link: var(--text-3xl);      // 48px

    --text-prose-xl: var(--text-3xl);  // 48px
    --text-prose-lg: var(--text-lg);   // 24px
    --text-prose-em: var(--text-ml);   // 20px
    --text-prose: var(--text-md);      // 16px

    --content-width: 62.5vw;
    --content-margin: calc((100vw - var(--content-width)) / 2);
    --content-shift: var(--content-margin);
    --content-shift-neg: calc(-1 * var(--content-shift));
    --mobile-content-width: 90vw;
    --mobile-blurb-width: 63vw;
    --section-padding: var(--space-2xl);

    --intersection-margin: 12vh;
    --intracontent-margin-sm: var(--space);      // 8px
    --intracontent-margin: var(--space-lg);      // 16px
    --intracontent-margin-lg: var(--space-xl);   // 24px
    --intracontent-margin-xl: var(--space-3xl);  // 24px

    --content-top-margin: var(--space-xl);       // 24px
    
    --browser-bar: 90px;
    --task-bar: 50px;
  }
}
@media (min-width: 2160px) {
  :root {
    --content-margin: 40vh;
    --text-hero: 13vmax;
    --text-hero-plus: var(--text-11xl);
    --text-section-header: 275px;
    --text-section-header-plus: 375px;
  }
}

html,
body {
  scroll-behavior: smooth;
  font-family: var(--font-body);
  height: auto;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  color: var(--text-color);
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: hsla(0, 0, 0, 0.1);
    background: var(--primary-tr);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
  line-height: 175%;
  @media (max-width: 1024px) {
    line-height: 140%;
  }
}

button {
  background-color: transparent;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

* {
  box-sizing: border-box;
}

*,
*:focus,
*:hover {
  outline: none;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vp-marker {
  z-index: 9999999999;
  position: absolute;
  width: 1px;
  height: 100vh;
  &__hero {
    top: 0;
    left: 10vw;
  }
}
