// > MEDIA QUERIES < \\
.desk-only {
  display: block;
  @media (max-width: 592px) {
    display: none !important;
  }
}
.mobile-only {
  display: none !important;
  @media (max-width: 592px) {
    display: block !important;
  }
}

// TODO: Move this back to globals?
// > LAYOUT < \\
.vp-marker {
  z-index: 9999999999;
  position: absolute;
  width: 0.5px;
  height: 15px;
  &__text {
    top: 94vh;
    left: 10vw;
    @media (max-width: 1024px) {
      top: 22vh;
    }
  }
  &__hero {
    top: 0;
    height: 104vh;
    left: 10vw;
    @media (max-width: 1024px) {
      top: 90vh;
    }
  }
  &__pillars {
    top: 327vh;
    left: 10vw;
  }
}

// > CONTAINERS < \\
.scroll-wrap {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

// > TYPOGRAPHY < \\
.gradient-text {
  background: linear-gradient(
    49deg,
    var(--primary) 0%,
    var(--accent) 60%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.em-link {
  font-family: var(--font-med);
  font-style: italic;
  color: var(--primary-deep);
}