//// < zIndex > ////
.hero {
  z-index: var(--level-two);

  // % isolated zIndex % //
  .shade {
    z-index: 2;
  }
  .heroTextContent {
    z-index: 3;
  }
  .logoContainer {
    z-index: 2;
  }
  .fadeTransitionBar {
    z-index: 3;
  }
}

.hero {
  position: relative;
  height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImages {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 110vh;
  width: 100vw;
  isolation: isolate;
  overflow: visible;
  background-color: var(--primary-tr);
  img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
  }
  .bg {
  }
  .fg {
  }
  .fadeTransitionBar {
    position: absolute;
    bottom: -4vh;
    width: 100%;
    height: 14.5vh;
    background: linear-gradient(to bottom, transparent 0%, var(--primary-bg) 70%);
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.3;
      background-image: url("/noise-bg.png");
      height: 100%;
      width: 100%;
    }
  }
  .shade {
    // z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #272727;
  }
}

.heroTextContent {
  height: 100%;
  width: 100%;
  padding-top: 12.5vh;
  padding-bottom: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logoTitle {
  position: relative;
  isolation: isolate;
}

.title {
  font-family: var(--font-title);
  font-size: var(--text-3xl);
  letter-spacing: var(--push-md);
  text-transform: uppercase;
  font-weight: var(--light);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span:nth-child(1) {
    font-size: var(--text-xl);
    margin-bottom: var(--space-md);
  }
}

.logoWrap {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  svg {
    width: 8vw !important;
  }
  path {
    fill: var(--primary-tr);
  }
}

.tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slogan {
  font-family: var(--font-title);
  font-size: var(--text-hero-sm);
  letter-spacing: var(--push-sm);
  font-weight: var(--light);
  color: var(--white);
  em {
    color: var(--primary);
    letter-spacing: var(--push-md);
    font-style: unset;
  }
}

.btn {
  margin-top: 4vh;
}
