@import "/styles/mixins";

.schedule {
  @include homeSection;
  flex-direction: column;
}

.blurb {
  width: 100%;
  margin-top: var(--vp-md);
  // padding-left: var(--section-padding);

  .title {
    @include headerText;
    margin-bottom: var(--title-space-bot);
  }
  .text {
    @include paragraphText;
  }
}
